<!DOCTYPE html>
<html>
	<head>
		<title>WELCOME TO SANATORY</title>
		<link href="css/estilos.css" rel="stylesheet" type="text/css">
		
	</head>
	<body>
		<h1>WELCOME TO SANATORY</h1>
		

		<h2>
			
    		<strong> <%= link_to "Turns", turns_path %> </strong>
    		<br>
    		<br>
    		<strong> <%= link_to "Medics", medics_path %> </strong>
    		<br>
    		<br>
    		<strong> <%= link_to "Patients", patients_path %> </strong>
		</h2>

		
		

	</body>
</html>
